// ******* header *******
$color-margen:rgba(205,157,67,1);
$fuente-general: 'Raleway',sans-serif;
$color-fuente: black;
@mixin texto-normal {
    // font-style: normal;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,229,175,1) 0%, rgba(205,157,67,1) 100%);
}
.headerGrid{
    grid-area: header;
    display:grid;
    flex-direction: column;
    text-align: center;
    font-family: $fuente-general;
    color: $color-fuente;
    @include texto-normal();
    .headerGrid__logo{
        height: 20rem;
        width: 40rem;
        background-color: #8c5b00;
        padding: 0.3rem;
    }
    .headerGrid__navbar{
        display: inline-block;
        font-size: 2.5rem;
        // font-weight:800;
        @include texto-normal();
        nav{
            @include texto-normal();
        }
        li{
            color: $color-fuente;
                a{
                    text-decoration:unset;
                    color: black;
                    font-size: 2rem;
                    padding: 0,5rem;
                    margin-left: auto;
                    margin-right: 15rem;
                    color: $color-fuente;
                        :hover{
                            background-color: rgba(205,157,67,1);
                            color:black;
                            padding: 0rem;
                        }
                }
        }
    }
    .headerGrid__redes{
        list-style: none;
        padding: 0;
        margin: 0;
            li{
                img{
                    display:block;
                    margin-left: auto;
                    margin-right: 10rem;
                    top: 10rem;
                    height: 5rem;
                    width: 5rem;
                    text-decoration: none;
                    color:$color-margen;
                    border-top-left-radius: 50% 50%;
                    border-top-right-radius: 50% 50%;
                    border-bottom-right-radius: 50% 50%;
                    border-bottom-left-radius: 50% 50%;
                        :hover{
                            background-color: $color-margen;
                            color:black;
                        }
                }
            }
        }
    }
    #header_flex{
        display: flex;
        flex: 1;
        margin-top: 5rem;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10rem;
}